{%load static%}
<footer class="text-center text-lg-start" style="background-color: #252525">
  <div
    class="text-center p-3"
    style="background-color: rgba(255, 255, 255, 0.76)"
  >
    <img src="{% static 'images/WC_logo.jpg'%}" alt="" width="150px;"/>
    © 2022 Copyright:
    <a class="text-dark" href="#">Wiring Connection</a>
  </div>
</footer>

<!-- <footer class="footer section section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
        <div class="block about">
          <img src="{% static 'images/logo-footer.png'%}" alt="" />
        </div>
      </div>
    </div>
  </div>
</footer> -->
