<!-- Modal para poder editar una clasificación -->
<div class="modal fade" id="modal-alert" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 50% !important">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #4f4f4f; color: white">
                <h5 class="modal-title" id="modal-title">Title modal</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <h6 id="modal-message">Message</h6>
                </div>
                <div class="modal-footer">
                    <p type="submit" id="btn-close-modal-alert" class="btn btn-danger">
                        Close
                    </p>
                </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>