{%load static%}

<div class="menu">
    <a aria-current="page" class="d-block text-light p-2 {% if app_selected == 7 %} active {% endif %}" href="#"><i
        class="icon ion-md-business mr-2 lead" lead></i> menu 0</a>
  <a style="color: white;"><hr></a>
  <a aria-current="page" class="d-block text-light p-2 {% if app_selected == 7 %} active {% endif %}" href="#"><i
    class="icon ion-md-business mr-2 lead" lead></i> Menu 1</a>
<a style="color: white;"><hr></a>
<a aria-current="page" class="d-block text-light p-2 {% if app_selected == 7 %} active {% endif %}" href="#"><i
  class="icon ion-md-business mr-2 lead" lead></i> Menu 2</a>
<a style="color: white;"><hr></a>
<a aria-current="page" class="d-block text-light p-2 {% if app_selected == 7 %} active {% endif %}" href="#"><i
  class="icon ion-md-business mr-2 lead" lead></i> Menu 3</a>
<a style="color: white;"><hr></a>
</div>

     


